.style1{
    text-decoration: none;
    font-size: 16px;
    padding: 12px 32px;
    color: white;
    background-color: rgb(110, 36, 248);
    border-radius: 30px;
    border: 0px;
    cursor: pointer;
}


.style1:hover{
    background-color: #1ddc96;
    color:rgb(33, 8, 56);

}
