
div{
    box-sizing: border-box;
}

.container{
    display: inline-flex;
    width: 100%;
    float:left;
    border: 1px solid red;
    flex-wrap: wrap;
   }

.main{
    width: 100%;
    
}


.header{
    width: 100%;
    color: rgb(45, 32, 81);
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}


.searchBar{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(45, 32, 81, 0.03); */
    padding: 30px 0px;

}

.login{
    width: 100%;
    color: rgb(45, 32, 81);
    display: inline-grid;
    justify-content: center;
    padding: 15px 0px;
    flex-flow: row wrap;
}
