.style1{
height: 38px;
border:0px;
border-radius: 22px;
margin-left: 20px;
margin-right: 20px;
padding-left: 20px;
padding-right: 20px;
font-size: 16px;
width: 300px;
}



.style2{
    height: 42px;
    border:0px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 40px;
    background-color: rgb(40, 27, 72);
    border: 1px solid  rgb(16, 7, 41);;
    color:aliceblue
}

.style2::placeholder{
    color: rgb(114, 121, 117);
}


.style2:hover{
    border: 1px solid  rgb(15, 181, 123);;
}